main {
    padding-top: 80px;
    h2 {
        color: #3c4043;
        font-size: 24px;
        padding-bottom: 40px;
    }
    p {
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 80px;
    }
}